<!DOCTYPE html>
<html>
<head>
	<title>Xre</title>
	<style type="text/css">
		#dagrediv {
			width: 100vw;
			height: 50vh;
			display: block;
		}
	</style>
	<script type="text/javascript">
		signal_array = [];
		cursor = -1;
	</script>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">

	<script type="text/javascript" src="{{ url_for('static', filename='scripts/cytoscape.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/graph_handler.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/sig_parser.js')}}"></script>

	<script type="text/javascript">
		last_len = 0;
		bpts = [];
		obj = {
			xhr: new XMLHttpRequest(),
			getData: function(){
				this.xhr.onreadystatechange = this.showData;
				this.xhr.open("GET", "/stream");
				this.xhr.send();
			},
			showData: function(){
				if(this.readyState == 3){
					var res = this.responseText;

					var new_len = res.length;
					res = res.slice(last_len);
					last_len = new_len;
					
					var resArr = res.split("\n");

					for(var i=0; i < resArr.length; i+= 1){
						if(resArr[i].length > 1){
							var thissig = JSON.parse(resArr[i]);
							
							if (thissig.sigtype == "SIGBRK") {
								// console.log("BREAKKKKK");
								// console.log(thissig.label);
								bpts.push(thissig);
								var bcont = document.getElementById("bcontainer");
								
								var slider = document.getElementById("slider");
								
								var bpt = document.createElement("input");
								bpt.type = "button";
								bpt.value = thissig.label;
								bpt.pos = slider.max;
								bpt.classList.add("breaker");
								
								bpt.onclick = function() {
									var slider = document.getElementById("slider");
									slider.value = this.pos;
									render(this.pos);
								}

								bcont.appendChild(bpt);
							}
							
							else {
								signal_array.push(thissig);
								var slider = document.getElementById("slider");
								slider.min = "0";
								slider.max = parseInt(slider.max) + 1;
								slider.value = "0";
								render("0");
							}
						}
					}

					// console.log(this.responseText)
				}
				if(this.readyState == 4){
					console.log("FINAL:" + this.responseText);
					// obj.getData();
				}
			}
		}
	</script>
	<style type="text/css">
		body{
			font-family: sans-serif;
		}
	</style>
</head>
<body onload="obj.getData()">
	<div id="headblock">
		<h1>Xrē</h1>
		<p>A visual trace of your C program</p>
	</div>

	<div id="dagrediv">
		<!-- treated as canvas -->
	</div>
	<div id="inputdiv">
		<input type="button" id="prev" value="<<" onclick="rewind()" class="iterbutt"/>
		<input type="button" id="next" value=">>" onclick="forward()" class="iterbutt">
		<input type="range" min="-1" max="-1" value="-1" id="slider">
		
		<br/> <br/>
		<div id="bcontainer">
		</div>
	</div>
	<script type="text/javascript">
		// base_graph.container = document.getElementById('dagrediv');
		graph.container = document.getElementById('dagrediv');
		var slider = document.getElementById("slider");
		slider.oninput = function() {
			render(this.value);
		}

		function rewind() {
			slider.stepDown();
			// console.log("<<");
			render(slider.value);
		}

		function forward() {
			slider.stepUp();
			// console.log(">>");
			render(slider.value);
		}

		document.onkeydown = function(e){
			e = e || window.event;
			if (e.keyCode == "37"){ // left arrow
				rewind();
			}
			if (e.keyCode == "39"){ // right arrow
				forward();
			}
		}


	</script>
</body>
</html>